<p id="notice"><%= notice %></p>

<p>
  <strong>Cedula:</strong>
  <%= @estefan.cedula %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @estefan.nombre %>
</p>

<p>
  <strong>Apellido:</strong>
  <%= @estefan.apellido %>
</p>

<p>
  <strong>Nacimento:</strong>
  <%= @estefan.nacimento %>
</p>

<p>
  <strong>Cargo:</strong>
  <%= @estefan.cargo %>
</p>

<p>
  <strong>Email:</strong>
  <%= @estefan.email %>
</p>

<p>
  <strong>Creador:</strong>
  <%= @estefan.creador %>
</p>

<p>
  <strong>Activo:</strong>
  <%= @estefan.activo %>
</p>

<p>
  <strong>Modificador:</strong>
  <%= @estefan.modificador %>
</p>

<p>
  <strong>Cel:</strong>
  <%= @estefan.cel %>
</p>

<p>
  <strong>Zona:</strong>
  <%= @estefan.zona %>
</p>

<p>
  <strong>Municipio:</strong>
  <%= @estefan.municipio %>
</p>

<p>
  <strong>Instagram:</strong>
  <%= @estefan.instagram %>
</p>

<p>
  <strong>Facebook:</strong>
  <%= @estefan.facebook %>
</p>

<p>
  <strong>Twitter:</strong>
  <%= @estefan.twitter %>
</p>

<p>
  <strong>Whatsapp:</strong>
  <%= @estefan.whatsapp %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @estefan.descripcion %>
</p>

<p>
  <strong>Sexo:</strong>
  <%= @estefan.sexo %>
</p>

<p>
  <strong>Puntov:</strong>
  <%= @estefan.puntov %>
</p>

<%= link_to 'Edit', edit_estefan_path(@estefan) %> |
<%= link_to 'Back', estefans_path %>
