<p id="notice"><%= notice %></p>

<p>
  <strong>Municipio:</strong>
  <%= @empresario.municipio %>
</p>

<p>
  <strong>Activo:</strong>
  <%= @empresario.activo %>
</p>

<p>
  <strong>Modificador:</strong>
  <%= @empresario.modificador %>
</p>

<p>
  <strong>Creador:</strong>
  <%= @empresario.creador %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @empresario.descripcion %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @empresario.nombre %>
</p>

<p>
  <strong>Apellido:</strong>
  <%= @empresario.apellido %>
</p>

<p>
  <strong>Cedula:</strong>
  <%= @empresario.cedula %>
</p>

<p>
  <strong>Sexo:</strong>
  <%= @empresario.sexo %>
</p>

<p>
  <strong>Empresa:</strong>
  <%= @empresario.empresa %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @empresario.telefono %>
</p>

<p>
  <strong>Celular:</strong>
  <%= @empresario.celular %>
</p>

<p>
  <strong>Email:</strong>
  <%= @empresario.email %>
</p>

<p>
  <strong>Whatsapp:</strong>
  <%= @empresario.whatsapp %>
</p>

<p>
  <strong>Instagram:</strong>
  <%= @empresario.instagram %>
</p>

<p>
  <strong>Twitter:</strong>
  <%= @empresario.twitter %>
</p>

<p>
  <strong>Facebook:</strong>
  <%= @empresario.facebook %>
</p>

<p>
  <strong>Puntov:</strong>
  <%= @empresario.puntov %>
</p>

<p>
  <strong>Cnombre:</strong>
  <%= @empresario.cNombre %>
</p>

<p>
  <strong>Ccel1:</strong>
  <%= @empresario.cCel1 %>
</p>

<p>
  <strong>Ccel2:</strong>
  <%= @empresario.cCel2 %>
</p>

<p>
  <strong>Ctel:</strong>
  <%= @empresario.cTel %>
</p>

<p>
  <strong>Cwhatsapp:</strong>
  <%= @empresario.cWhatsapp %>
</p>

<p>
  <strong>Cemail:</strong>
  <%= @empresario.cEmail %>
</p>

<%= link_to 'Edit', edit_empresario_path(@empresario) %> |
<%= link_to 'Back', empresarios_path %>
