<p id="notice"><%= notice %></p>
 
<div class="row">
  <div class="tab col-md-3">
   <button class="tablinks" onclick="openCity(event, 'Politicos')"><img src="<%= asset_path 'politics/png/026-capitol.png'%>"  width="30" height="30" class="d-inline-block align-top" alt=""> Políticos</button>
  </div>

  <div id="Politicos" class="tab-content col-md-9">
  
    <br>
    <div class="row">
      <div class="col-md-3"><h1>Políticos</h1></div>
      <div class="col-md-6"></div>
      <div class="col-md-3"><%= link_to new_politico_path, class: "btn btn-success", :remote=>true do%><img src="<%= asset_path 'politics/png/026-capitol.png'%>"  width="30" height="30" class="d-inline-block align-top" alt=""> Nuevo <%end%></div>
    </div>
    <br>

    <table class="table table-striped table-responsive">
      <thead>
        <tr></tr>
          <th>Picture</th>
          <th>Redes</th>
          <th>Nombre</th>
          <th>Apellidos</th>
          <th>Partido</th>
          <th>Municipio</th>
          <th>E-mail</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @politicos.each do |politico| %>
          <tr>
            <td><%= image_tag politico.picture.medium.url, class: 'figure-img img-fluid rounded', width:'60', height:'60'%></td>
            <td><%= link_to politico.facebook do %><img src="<%= asset_path 'social/png/036-facebook.png'%>"  width="20" height="20" class="d-inline-block align-top" alt=""><% end %> <br>
                <%= link_to politico.twitter do %><img src="<%= asset_path 'social/png/008-twitter.png'%>"  width="20" height="20" class="d-inline-block align-top" alt=""><% end %> <br>
                <%= link_to politico.instagram do %><img src="<%= asset_path 'social/png/029-instagram.png'%>"  width="20" height="20" class="d-inline-block align-top" alt=""><% end %> <br>
            <td><%= politico.nombre %></td>
            <td><%= politico.apellido %></td>
            <td><%= politico.partido %></td>
            <td><%= Municipio.find(politico.municipio).nombre %></td>
            <td><%= politico.email %></td>
            <td><%= link_to edit_politico_path(politico) do %><img src="<%= asset_path 'icons/png/user-52.png'%>"  width="20" height="20" class="d-inline-block align-top" alt=""><% end %>
                <%= link_to politico, method: :delete, data: { confirm: 'Desea desactivar '+politico.nombre()+'?' } do%><br><img src="<%= asset_path 'icons/png/user-42.png'%>"  width="20" height="20" class="d-inline-block align-top" alt=""><% end %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>

    <%= link_to 'New Politico', new_politico_path, :remote=>true %>
    <div id="new_politico" style="display: none;"></div>

  </div>
</div>