<p id="notice"><%= notice %></p>

<p>
  <strong>Municipio:</strong>
  <%= @politico.municipio %>
</p>

<p>
  <strong>Activo:</strong>
  <%= @politico.activo %>
</p>

<p>
  <strong>Modificador:</strong>
  <%= @politico.modificador %>
</p>

<p>
  <strong>Creador:</strong>
  <%= @politico.creador %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @politico.descripcion %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @politico.nombre %>
</p>

<p>
  <strong>Apellido:</strong>
  <%= @politico.apellido %>
</p>

<p>
  <strong>Cedula:</strong>
  <%= @politico.cedula %>
</p>

<p>
  <strong>Sexo:</strong>
  <%= @politico.sexo %>
</p>

<p>
  <strong>Partido:</strong>
  <%= @politico.partido %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @politico.telefono %>
</p>

<p>
  <strong>Celular:</strong>
  <%= @politico.celular %>
</p>

<p>
  <strong>Email:</strong>
  <%= @politico.email %>
</p>

<p>
  <strong>Whatsapp:</strong>
  <%= @politico.whatsapp %>
</p>

<p>
  <strong>Instagram:</strong>
  <%= @politico.instagram %>
</p>

<p>
  <strong>Twitter:</strong>
  <%= @politico.twitter %>
</p>

<p>
  <strong>Facebook:</strong>
  <%= @politico.facebook %>
</p>

<p>
  <strong>Puntov:</strong>
  <%= @politico.puntov %>
</p>

<p>
  <strong>Cnombre:</strong>
  <%= @politico.cNombre %>
</p>

<p>
  <strong>Ccel1:</strong>
  <%= @politico.cCel1 %>
</p>

<p>
  <strong>Ccel2:</strong>
  <%= @politico.cCel2 %>
</p>

<p>
  <strong>Ctel:</strong>
  <%= @politico.cTel %>
</p>

<p>
  <strong>Cwhatsapp:</strong>
  <%= @politico.cWhatsapp %>
</p>

<p>
  <strong>Cemail:</strong>
  <%= @politico.cEmail %>
</p>

<%= link_to 'Edit', edit_politico_path(@politico) %> |
<%= link_to 'Back', politicos_path %>
