<%= form_with(model: voluntario, local: true) do |form| %>
  <% if voluntario.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(voluntario.errors.count, "error") %> prohibited this voluntario from being saved:</h2>

      <ul>
      <% voluntario.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :cedula %>
    <%= form.text_field :cedula %>
  </div>

  <div class="field">
    <%= form.label :nombre %>
    <%= form.text_field :nombre %>
  </div>

  <div class="field">
    <%= form.label :apellido %>
    <%= form.text_field :apellido %>
  </div>

  <div class="field">
    <%= form.label :nacimiento %>
    <%= form.date_select :nacimiento %>
  </div>

  <div class="field">
    <%= form.label :perfil %>
    <%= form.text_field :perfil %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label :creador %>
    <%= form.number_field :creador %>
  </div>

  <div class="field">
    <%= form.label :activo %>
    <%= form.check_box :activo %>
  </div>

  <div class="field">
    <%= form.label :modificador %>
    <%= form.number_field :modificador %>
  </div>

  <div class="field">
    <%= form.label :cel %>
    <%= form.text_field :cel %>
  </div>

  <div class="field">
    <%= form.label :zona %>
    <%= form.number_field :zona %>
  </div>

  <div class="field">
    <%= form.label :municipio %>
    <%= form.number_field :municipio %>
  </div>

  <div class="field">
    <%= form.label :instagram %>
    <%= form.text_field :instagram %>
  </div>

  <div class="field">
    <%= form.label :facebook %>
    <%= form.text_field :facebook %>
  </div>

  <div class="field">
    <%= form.label :twitter %>
    <%= form.text_field :twitter %>
  </div>

  <div class="field">
    <%= form.label :whatsapp %>
    <%= form.text_field :whatsapp %>
  </div>

  <div class="field">
    <%= form.label :descripcion %>
    <%= form.text_area :descripcion %>
  </div>

  <div class="field">
    <%= form.label :direccion %>
    <%= form.text_field :direccion %>
  </div>

  <div class="field">
    <%= form.label :sexo %>
    <%= form.text_field :sexo %>
  </div>

  <div class="field">
    <%= form.label :puntov %>
    <%= form.number_field :puntov %>
  </div>

  <div class="field">
    <%= form.label :empresa %>
    <%= form.number_field :empresa %>
  </div>

  <div class="field">
    <%= form.label :cargo %>
    <%= form.text_field :cargo %>
  </div>

  <div class="field">
    <%= form.label :universidad %>
    <%= form.number_field :universidad %>
  </div>

  <div class="field">
    <%= form.label :carrera %>
    <%= form.text_field :carrera %>
  </div>

  <div class="field">
    <%= form.label :votos %>
    <%= form.number_field :votos %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
