<div class="row">
  <div class="tab col-md-3">
   <button class="tablinks" onclick="openCity(event, 'Voluntarios')"><img src="<%= asset_path 'icons/png/file-14.png'%>"  width="30" height="30" class="d-inline-block align-top" alt=""> Voluntarios</button>
   <%= link_to estefans_path  do %> <button class="tablinks"><img src="<%= asset_path 'icons/png/user-43.png'%>"  width="30" height="30" class="d-inline-block align-top" alt=""> Estefans</button><%end%> 
   <%= link_to militantes_path  do %> <button class="tablinks"><img src="<%= asset_path 'politics/png/007-vote-1.png'%>"  width="30" height="30" class="d-inline-block align-top" alt=""> Militantes</button><%end%> 
  </div>

  <div id="Voluntarios" class="tab-content col-md-9">

    <br>
    <div class="row">
      <div class="col-md-3"><h1>Voluntarios</h1></div>
      <div class="col-md-6"></div>
      <div class="col-md-3"><%= link_to new_voluntario_path, class: "btn btn-success", :remote=>true do%><img src="<%= asset_path 'icons/png/file.png'%>"  width="30" height="30" class="d-inline-block align-top" alt=""> Nuevo <%end%></div>
    </div>
    <br>

    <table class="table table-striped table-responsive">
      <thead>
        <tr>
          <th>Imagen</th>
          <th>Nombre</th>
          <th>Apellidos</th>
          <th>Perfil</th>
          <th>E-mail</th>
          <th>Zona</th>
          <th>Municipio</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @voluntarios.each do |voluntario| %>
          <tr>
            <td><%= link_to voluntario do %> <%= image_tag voluntario.picture.medium.url, class: 'figure-img img-fluid rounded', width:'60', height:'60'%><% end %></td>
            <td><%= voluntario.nombre %></td>
            <td><%= voluntario.apellido %></td>
            <td><%= voluntario.perfil %></td>
            <td><%= voluntario.email %></td>
            <td><% if voluntario.zona != -1 then %><%= Zona.find(voluntario.zona).nombre %><%end%></td>
            <td><% if voluntario.municipio != -1 then %><%= Municipio.find(voluntario.municipio).nombre %><%end%></td>
            <td><%= link_to edit_voluntario_path(voluntario) do %><img src="<%= asset_path 'icons/png/file-4.png'%>"  width="20" height="20" class="d-inline-block align-top" alt=""><% end %>
                <%= link_to voluntario, method: :delete, data: { confirm: 'Desea desactivar '+voluntario.nombre()+'?' } do%><img src="<%= asset_path 'icons/png/file-13.png'%>"  width="20" height="20" class="d-inline-block align-top" alt=""><% end %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>

    <div id="new_voluntario" style="display: none;"></div>
  </div>
</div>