<p id="notice"><%= notice %></p>

<p>
  <strong>Cedula:</strong>
  <%= @voluntario.cedula %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @voluntario.nombre %>
</p>

<p>
  <strong>Apellido:</strong>
  <%= @voluntario.apellido %>
</p>

<p>
  <strong>Nacimiento:</strong>
  <%= @voluntario.nacimiento %>
</p>

<p>
  <strong>Perfil:</strong>
  <%= @voluntario.perfil %>
</p>

<p>
  <strong>Email:</strong>
  <%= @voluntario.email %>
</p>

<p>
  <strong>Creador:</strong>
  <%= @voluntario.creador %>
</p>

<p>
  <strong>Activo:</strong>
  <%= @voluntario.activo %>
</p>

<p>
  <strong>Modificador:</strong>
  <%= @voluntario.modificador %>
</p>

<p>
  <strong>Cel:</strong>
  <%= @voluntario.cel %>
</p>

<p>
  <strong>Zona:</strong>
  <%= @voluntario.zona %>
</p>

<p>
  <strong>Municipio:</strong>
  <%= @voluntario.municipio %>
</p>

<p>
  <strong>Instagram:</strong>
  <%= @voluntario.instagram %>
</p>

<p>
  <strong>Facebook:</strong>
  <%= @voluntario.facebook %>
</p>

<p>
  <strong>Twitter:</strong>
  <%= @voluntario.twitter %>
</p>

<p>
  <strong>Whatsapp:</strong>
  <%= @voluntario.whatsapp %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @voluntario.descripcion %>
</p>

<p>
  <strong>Direccion:</strong>
  <%= @voluntario.direccion %>
</p>

<p>
  <strong>Sexo:</strong>
  <%= @voluntario.sexo %>
</p>

<p>
  <strong>Puntov:</strong>
  <%= @voluntario.puntov %>
</p>

<p>
  <strong>Empresa:</strong>
  <%= @voluntario.empresa %>
</p>

<p>
  <strong>Cargo:</strong>
  <%= @voluntario.cargo %>
</p>

<p>
  <strong>Universidad:</strong>
  <%= @voluntario.universidad %>
</p>

<p>
  <strong>Carrera:</strong>
  <%= @voluntario.carrera %>
</p>

<p>
  <strong>Votos:</strong>
  <%= @voluntario.votos %>
</p>

<%= link_to 'Edit', edit_voluntario_path(@voluntario) %> |
<%= link_to 'Back', voluntarios_path %>
