<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @punto_v.nombre %>
</p>

<p>
  <strong>Zona:</strong>
  <%= @punto_v.zona %>
</p>

<p>
  <strong>Activo:</strong>
  <%= @punto_v.activo %>
</p>

<p>
  <strong>Modificador:</strong>
  <%= @punto_v.modificador %>
</p>

<p>
  <strong>Creador:</strong>
  <%= @punto_v.creador %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @punto_v.descripcion %>
</p>

<p>
  <strong>Direccion:</strong>
  <%= @punto_v.direccion %>
</p>

<p>
  <strong>Nromesas:</strong>
  <%= @punto_v.nromesas %>
</p>

<p>
  <strong>Nropersonasmesa:</strong>
  <%= @punto_v.nropersonasmesa %>
</p>

<p>
  <strong>Hombres:</strong>
  <%= @punto_v.hombres %>
</p>

<p>
  <strong>Mujeres:</strong>
  <%= @punto_v.mujeres %>
</p>

<%= link_to 'Edit', edit_punto_v_path(@punto_v) %> |
<%= link_to 'Back', punto_vs_path %>
