<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @militante.nombre %>
</p>

<p>
  <strong>Apellido:</strong>
  <%= @militante.apellido %>
</p>

<p>
  <strong>Cedula:</strong>
  <%= @militante.cedula %>
</p>

<p>
  <strong>Fechaexp:</strong>
  <%= @militante.fechaexp %>
</p>

<p>
  <strong>Sexo:</strong>
  <%= @militante.sexo %>
</p>

<p>
  <strong>Nacimiento:</strong>
  <%= @militante.nacimiento %>
</p>

<p>
  <strong>Creador:</strong>
  <%= @militante.creador %>
</p>

<p>
  <strong>Modificador:</strong>
  <%= @militante.modificador %>
</p>

<p>
  <strong>Activo:</strong>
  <%= @militante.activo %>
</p>

<p>
  <strong>Ocupacion:</strong>
  <%= @militante.ocupacion %>
</p>

<p>
  <strong>Profesion:</strong>
  <%= @militante.profesion %>
</p>

<p>
  <strong>Email:</strong>
  <%= @militante.email %>
</p>

<p>
  <strong>Cel:</strong>
  <%= @militante.cel %>
</p>

<p>
  <strong>Tel:</strong>
  <%= @militante.tel %>
</p>

<p>
  <strong>Municipio:</strong>
  <%= @militante.municipio %>
</p>

<p>
  <strong>Puntov:</strong>
  <%= @militante.puntov %>
</p>

<p>
  <strong>Zona:</strong>
  <%= @militante.zona %>
</p>

<%= link_to 'Edit', edit_militante_path(@militante) %> |
<%= link_to 'Back', militantes_path %>
