<!DOCTYPE html>
<html>
  <head>
    <link rel="shortcut icon" href="<%= asset_path 'icons/png/database-3.png' %>"/>
    <title>SysCCES</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-icon-top navbar-expand-lg navbar-dark bg-dark nav-fill">
      <div class="col-sm-4">
      <a class="navbar-brand" href="<%= eventos_path %>">
        <h2><img src="<%= asset_path 'icons/png/database-3.png' %>"  width="43" height="43" class="d-inline-block align-top" alt="">
        SysCCES</h2>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      </div>

      <% if user_signed_in? then %>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <% # Iconos %>
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="<%= eventos_path %>">
              <i class="menu-icon fa fa-bell-o">
                <span class="badge badge-danger"><%= Evento.where(activo: true).length %></span>
              </i>
              Eventos
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="<%= voluntarios_path %>">
              <i class="fa fa-user-o">
                <span class="badge badge-danger"><%= (Estefan.where(activo: true).length)+(Voluntario.where(activo: true).length)-1 %></span>
              </i>
              Voluntarios
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="<%= empresarios_path %>">
              <i class="fa fa-industry">
                <span class="badge badge-danger"><%= Empresario.where(activo: true).length %></span>
              </i>
              Empresarios
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="<%= politicos_path %>">
              <i class="fa fa-hand-paper-o">
                <span class="badge badge-danger"><%= Politico.where(activo: true).length %></span>
              </i>
              Politicos
            </a>
          </li>
        </ul>

         <div class="rounded-circle avatar" >
                <%= image_tag Estefan.find(current_user.id).picture.small.url, width:'40', height:'40'%>
              </div>

        <% #final %>
        <form class="form-inline my-2 my-lg-0">
          <ul class="navbar-nav">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    <%= Estefan.find(current_user.id).nombre%> <%=Estefan.find(current_user.id).apellido  %> &nbsp
                </a>
                <div class="dropdown-menu">
                  <%= link_to "Mi Perfil", Estefan.find(current_user.id), class:"dropdown-item" %>
                  <%= link_to "Salir", destroy_user_session_path, :method=>:delete, class:"dropdown-item"%>
                </div>
              </li>
            </ul>
            </form>
          </div>
          <% end %>
      </div>
    </nav>
    <div class="container">

      <%= yield %>

      <br><br>
      <footer>
        <div>Icons made by <a href="https://smashicons.com/" title="Smashicons">Smashicons</a> and <a href="http://www.freepik.com/" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/"         title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/"        title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
        <div> <b>SysCCES</b> - Sistema para la Campaña al Concejo de Estefanía - Sabaneta <br><b>version 1.1.0</b> - 2019</div>
      </footer>
    </div>
  </body>
  <br>
 
</html>